body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

div.container {
  background-color: #0e0e0e;
  padding: 0 80px;
}

header .top {
  display: flex;
  background: linear-gradient(#3c640b, #69a514);
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

header .logo {
  display: flex;
  align-items: center;

}

header .logo img {
  margin-right: 10px;
}

header .logo p {
  margin: 0;
}

header .logo p span:first-child {
  font-weight: bold;
}

header .logo p:first-child {
  color: white;
  font-size: 25px;
  text-transform: uppercase;
}

header .logo p span:last-child {
  color: #cdf658;
}

header .logo p:last-child {
  color: white;
  font-size: 20px;
}

/*Настрока области кнопки поиска*/
header .top form input {
  padding: 5px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  outline: none;
}

header .top form button {
  background: linear-gradient(#966903, #dbbb04);
  color: white;
  border: 1px solid #dbbb04;
  border-radius: 5px;
  padding: 5px;
  /*Внутренние отступы*/
}

/*Настройка банера*/
.baner {
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.7);
  background: url("../images/banner.jpg") no-repeat center center/cover;
  height: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
}


.baner div {
  margin-left: 10px;
  font-family: 'Caveat', cursive;
}


.baner div p {
  margin: 10px 0;
  color: white;
  text-transform: uppercase;
  text-shadow: 0 2px 3 px rgba(0, 0, 0, 0.5);
}

.baner div p:first-child {
  font-size: 40px;
}

.baner div p:last-child {
  font-weight: bold;
  font-size: 50px;
  text-indent: 20px;
}

.baner div p:last-child span {
  color: #b2fd04;
}

/*Настройка меню*/
header nav {
  background: linear-gradient(#416b06, #73ad18, 80%, #416b06);
  padding: 10px 0 4px;
}

header nav ul {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #92c141;
  margin: 0;
}

header nav ul li {
  list-style-type: none;
  border-left: 1px solid #6ea12b;
  border-right: 1px solid #3f7003;
  padding: 10px 0;
  flex-basis: 100%;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

header nav ul li:first-child {
  border-left: none;
}

header nav ul li:last-child {
  border-right: none;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
}

/*Настрока блока content*/
.content {
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
}

.content .content_left {
  flex-basis: 30%;
  /*Ширина*/
  border: 1px solid white;
}

.content .content_left section {
  background: linear-gradient(#d7e0d3, #d6e1d2);
  padding: 4px;
  /*Внутренние отступы*/
}

.content .content_left section h3 {
  text-transform: uppercase;
  color: white;
  background: #4e7d0e;
  font-size: 14px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  margin: 0;
}



.content .content_left article {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 15px auto;
  padding: 15px 10px;
  border-bottom: 2px groove white;
}

.content .content_left article img {
  border: 2px solid #949788;
  margin-right: 10px;
}

.content .content_right {
  flex-basis: 69%;
  /*Ширина*/
  border: 1px solid white;
}

.content .content_left article p {
  margin: 0;
}

.content .content_left article p a {
  color: #b68d02;
  font-weight: bold;
}

/****************************************************/
/*Нижний банер*/
/*.content .content_left */
.content_left .bottom {
  background: url("../images/mini-banner.png") no-repeat right 5%, linear-gradient(to bottom right,#bbdb8d, #fff);
  border: 1px solid #fff;
  padding: 35px 0;
  margin-top: 10px;
  display: flex;
  justify-content:space-around ;
}

.content_left .bottom .left p {
  text-transform: uppercase;
  color: #333333;
  font-weight: bold;
  margin: 0;
}

.content_left .bottom .left p:last-child{
  margin-left: 25px;/*Отодвигаем от края*/
}

.content_left .bottom .left span{
 font-size: 20px;
 color: #4c790d;
}

.content_left .bottom .right p{
  color: #fff;
  font-size: 45px;
  margin: 0;
  font-weight: bold;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.7);
}
/****************************************************/
/*ПРАВЫЙ БЛОК*/
.content_right{
  display: flex;
  flex-direction: column;
  flex-basis: 69%;
  justify-content: space-between;

}


.content_right .top{
  background: linear-gradient(#71ae18, #598715);
  flex-basis: 31%;
  padding: 15px;
  

}

.content_right .top h2{
  color: #fff;
  font-size: 20px;
  margin: 5px 0;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5) ;
}
.content_right .bottom{
border: 1px solid red;

}

/*
 padding: 15px; - внутренний отступ
*/