.grad1{
    border: 1px solid;
    height: 300px;
    width: 300px;
    background: linear-gradient(to left top, red, blue);
}

.grad2{
    border: 1px solid;
    height: 300px;
    width: 300px;
    background: linear-gradient(60deg, red, blue);
}
.grad3{
    border: 1px solid;
    height: 300px;
    width: 300px;
    background: linear-gradient(red, red 20px, blue 20px, green 50px);
}
.grad4{
    border: 1px solid;
    height: 300px;
    width: 300px;
    background: radial-gradient(red,  blue, green);
}