.block1{
  border: 1px solid;
  height: 400px;
  width: 400px;
  background: red;
}

.block2{
  border: 1px solid;
  height: 400px;
  width: 400px;
  background: url("../image/ChangeElement.png");
}

.block3{
  border: 1px solid;
  height: 400px;
  width: 400px;
  background: url("../image/ChangeElement.png") no-repeat rgb(64, 24, 156);
}
.block4{
  border: 1px solid;
  height: 400px;
  width: 400px;
  background: url("../image/ChangeElement.png") no-repeat rgb(64, 24, 156) center center;
}

.block5{
  border: 1px solid;
  height: 400px;
  width: 400px;
  background: url("../image/ChangeElement.png") no-repeat, url("../image/Select.png")  right top;
}

.block6{
  border: 1px solid;
  height: 400px;
  width: 400px;
  background: url("../image/ChangeElement.png");
  background-size: cover;
}

.block7{
  border: 1px solid;
  height: 400px;
  width: 400px;
  box-shadow: 5px 5px 4px 5px rgb(0, 0, 0, 0.5);
  
  margin: 20px;
}