div{
    border: 1px solid;
    width: 150px;
    height: 150px;
    display: inline-block;
    background: url("../image/SpriteExample.png") no-repeat;
}
.icon1{
    background-position: -25px -15px;
}

.icon1:hover{
    background-position: -25px -25px;
}

.icon2{
    background-position: -220px -15px;
}

.icon2:hover{
    background-position: -220px -25px;
}

.icon3{
    background-position: -415px -15px;
}

.icon3:hover{
    background-position: -415px -25px;
}

.icon4{
    background-position: -25px -210px;
}

.icon4:hover{
    background-position: -25px -220px;
}