@font-face {
    font-family: carolina;
    src: url("../font/carolina.ttf");
}

.p1 {
    color: red;
    font-family: carolina;
    font-size: 60px;
    font-style: italic;
    font-weight: bold;
     /*Расположение текста*/
    text-align: left;
    /*text-decoration: underline;*/
    /*text-decoration: line-through;*/
    /**Отступ*/
    text-indent: 20px;
   /**Тень*/
    text-shadow: 3px 3px 5px green;
    /**Закглавный или маленький текст*/
    /*text-transform: uppercase;*/
}

.p2 {
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}