<component name="ArtifactManager">
  <artifact type="jar" name="SpringInAction:jar">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringInAction_jar</output-path>
    <root id="archive" name="SpringInAction.jar">
      <element id="module-output" name="SpringInAction" />
      <element id="extracted-dir" path="$MAVEN_REPOSITORY$/org/springframework/spring-aop/5.2.19.RELEASE/spring-aop-5.2.19.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$MAVEN_REPOSITORY$/org/springframework/spring-context/5.2.19.RELEASE/spring-context-5.2.19.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$MAVEN_REPOSITORY$/org/springframework/spring-core/5.3.16/spring-core-5.3.16.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$MAVEN_REPOSITORY$/org/springframework/spring-jcl/5.3.16/spring-jcl-5.3.16.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$MAVEN_REPOSITORY$/org/springframework/spring-expression/5.2.19.RELEASE/spring-expression-5.2.19.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$MAVEN_REPOSITORY$/org/springframework/spring-beans/5.3.16/spring-beans-5.3.16.jar" path-in-jar="/" />
    </root>
  </artifact>
</component>