p{
    font-size: 30px;
}
span.spn{
    font-size: 35px;
    color: blue;

}
ul.ul1{
    list-style-type: decimal;
}
ul.ul2{
    list-style-type: none;
    list-style-image: url("../image/Select.png");
}

