
form{
    border: 2px solid;

  

}

div.center{
    display: flex;
    align-items: center;
}
label{
    font-size: small;
}

input{
    transition: 0.5s;
}

input.login:hover{
    transform: scale(1.03);
    border: 3px solid;
}