/*Настройки отступов для тэгов*/
body {
    margin: 0;
}

p {
    margin: 0;
}

hr {
    margin: 0;
}

/*Основной контейнер благодраря которому окно ввода логина позиционируеться посередине экрана*/
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Основное окно формы*/
.mainWindow {
    border: 2px solid;
    border-color: rgb(173, 173, 173);
    border-radius: 5px;
    background-color: rgb(235, 235, 235);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/*Командная строка*/
.comandLine {
    background-color: rgb(192, 192, 192);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 100px;
}


/*форма ввода логина и пароля*/
form {
    display: flex;
    flex-direction: column;
}

form input {
    height: 25px;
    border-radius: 5px;
    margin: 5px 5px 0 5px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid rgb(192, 192, 192);
    outline: none;
}

form div {
    display: flex;
    justify-content: right;
}

form button {
    margin: 5px;
    padding: 0 20px;  
}

form button p {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Подвал*/
.mainWindow div:last-child {
    display: flex;
    justify-content: right;
}

.mainWindow div:last-child a {
    padding: 5px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}